name: Deploy to VM

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Deploy over SSH
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.VM_HOST }}
          username: sayyadlucky
          key: ${{ secrets.SSH_KEY }}
          script: |
            cd ~/videocall_project
            git reset --hard
            git pull origin main
             if [ ! -d "venv" ]; 
             then
                python3 -m venv venv
                source venv/bin/activate
                pip install -r requirements.txt
              else
                source venv/bin/activate
              fi
            python manage.py migrate --noinput
            python manage.py collectstatic --noinput
            sudo systemctl restart daphne
            sudo systemctl restart nginx
